<%= simple_form_for [classroom.student, classroom], html: {class: 'form-vertical' } do |f| %>
  <div class="form-group">
    <%= f.input :student_name, input_html: { disabled: true } %>
  </div>

  <div class="form-group">
    <%= f.input :entry_at %>
  </div>

  <div class="form-group">
    <%= f.association :course, collection: courses %>
  </div>

  <br />

  <%= f.submit class: "btn btn-primary"  %>
<% end %>
