<%= link_to t('helpers.submit.create', model: tm(Classroom)),
            new_student_classroom_path(student),
            class: 'btn btn-success' %>
<br /><br />
<% if classrooms.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= ta Classroom, :entry_at %></th>
        <th><%= ta Classroom, :course %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% classrooms.each do |classroom| %>
        <tr>
          <td><%= l classroom.entry_at, format: :short %></td>
          <td><%= classroom.course_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('not_found', model: tm(Classroom).downcase) %>
<% end %>

