<h1 class="page-header"><%= tmp Student %></h1>

<%= link_to t('helpers.submit.create', model: tm(Student)),
            new_student_path,
            class: 'btn btn-success' %>
<br /><br />
<% if @students.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= ta Student, :register_number %></th>
        <th><%= ta Student, :name %></th>
        <th><%= ta Student, :status %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.register_number %></td>
          <td><%= student.name %></td>
          <td><%= student.status_text %></td>
          <td>
            <%= link_to t('show'), student, class: 'btn btn-xs btn-default' %>
            <%= link_to t('edit'), edit_student_path(student), class: 'btn btn-xs btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('not_found', model: tm(Student).downcase) %>
<% end %>

