<h1 class="page-header"><%= tmp Course %></h1>

<%= link_to t('helpers.submit.create', model: tm(Course)),
            new_course_path,
            class: 'btn btn-success' %>
<br /><br />
<% if @courses.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= ta Course, :name %></th>
        <th><%= ta Course, :status %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.status_text %></td>
          <td>
            <%= link_to t('show'), course, class: 'btn btn-xs btn-default' %>
            <%= link_to t('edit'), edit_course_path(course), class: 'btn btn-xs btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('not_found', model: tm(Course).downcase) %>
<% end %>

